{% extends "navbar.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
    {% for case in cases %}
    <h1>{{ case.title }} <span class="lead">- {{case.date_created}}</span> </h1>
    <p class="well">{{ case.description }}</p>
    <div>
        <a href="#" class="btn">More.. <i class="icon-wrench"></i></a>
        <a href="#" class="btn btn-warning">Default <i class="icon-star icon-white"></i></a>
        <div class="pull-right"><span class="label">Taliban</span></div>
    </div> 
    <hr>
    {% endfor %}
</div>
</div>
<div class="pagination">
  <ul>
    {% if cases.has_previous %}
        <li><a href="?page={{ cases.previous_page_number }}">Prev</a></li>
    {% endif %}

    
    <li class="disabled"><a href="#">{{ cases.number }}</a></li>

    {% if cases.has_next %}
        <li><a href="?page={{ cases.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</div>


{% endblock %}