<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Case1</a></li>
              <li><a href="#">Case2</a></li>
              <li><a href="#">Case3</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Case5</a></li>
              <li><a href="#">Case6</a></li>
              <li><a href="#">Case7</a></li>
              <li><a href="#">Case8</a></li>
              <li><a href="#">Case9</a></li>
              <li><a href="#">Case10</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Case11</a></li>
              <li><a href="#">Case12</a></li>
              <li><a href="#">Case13</a></li>
            </ul>
</div><!--/.well -->
