<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Context-aware Tools</li>
              <li class="active"><a href="#">Tool 1</a></li>
              <li><a href="#">Tool 2</a></li>
              <li><a href="#">Tool 3</a></li>
              <li><a href="#">Tool 4</a></li>
              <li class="nav-header">Actions</li>
              <li><a href="#">Export as PDF</a></li>
              <li><a href="#">Print</a></li>
              <li><a href="#">Flag</a></li>
</div><!--/.well -->
